/* Reset */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

/* Global */
html, body{
  height: 100%;
}

body{
  background: black;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
}


/* HEADER */
#header{
  position: relative;
  width: 100%;
  background: white;
  font-size: 0;
  top: -50px;
  z-index: 100;
  opacity: 0.5;
  
  -webkit-transition: top 0.5s linear 0.3s, opacity 0.3s linear;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: top 0.5s linear 0.3s, opacity 0.3s linear;  /* Firefox 4-15 */
       -o-transition: top 0.5s linear 0.3s, opacity 0.3s linear;  /* Opera 10.50–12.00 */
          transition: top 0.5s linear 0.3s, opacity 0.3s linear;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

#header:hover{
  top: 0;
  opacity: 1;
  }
  #header:hover #down-arrow{
    bottom: 0;
    opacity: 0;
  }

.container{
  position: relative;
  width: 880px;
  margin: 0 auto;
}

#logo-box {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}

#logo{
  width: 100%;
  height: auto;
}

#nav-box {
  display: inline-block;
  vertical-align: top;
  width: 60%;
}

#nav-box nav{
  font-size: 12px;
  float: right;
  width:  50%;
}


#nav .menu-item{
  display: inline-block;
  padding: 25px 2%;
}

#nav .menu-item a{
  text-decoration: none;
  color: #999;
  }
  
  #nav .menu-item a:hover{
    color: rgb(167, 96, 188);
  }

  #nav .current-menu-item a{
    color: rgb(167, 96, 188);
  }
  
  #down-arrow{
  	width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #FFF;
    position: absolute;
    
    bottom: -10px;
    left: 50%;
    margin-left: -5px;
    
    opacity: 1;
    
    -webkit-transition: bottom 0.5s linear 0.3s, opacity 0.5s linear 0.3s;  /* Chrome 1-25, Safari 3.2+ */
       -moz-transition: bottom 0.5s linear 0.3s, opacity 0.5s linear 0.3s;  /* Firefox 4-15 */
         -o-transition: bottom 0.5s linear 0.3s, opacity 0.5s linear 0.3s;  /* Opera 10.50–12.00 */
            transition: bottom 0.5s linear 0.3s, opacity 0.5s linear 0.3s;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
    
  }

/* Main */

#main{
  background: #000000;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x:hidden;
  overflow-y:hidden;
}

#object{
  display: block;
  margin: 0 auto;
  position: relative;
  
}
